<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caster</title>
    <link rel="stylesheet" href="static/style/style.css">
</head>
<body>
    <div class="container">
        <div class="top-bar">
            <img src="static/img/casterlogo.png" width="50px">
        </div>
        <div class="content">
            <div class="left-bar">
                <a class="bar-button ab-text" onclick="window.location.href = '/'"><img src="static/img/home.png" class="bar-button-icon"><span class="bar-text">Home</span></a>
                <a class="bar-button ab-text" onclick="window.location.href = '/profile'"><img src="static/img/profile.png" class="bar-button-icon"><span class="bar-text">Profile</span></a>
                <a class="bar-button ab-text" onclick="window.location.href = '/search'"><img src="static/img/search.png" class="bar-button-icon"><span class="bar-text">Search</span></a>
                <a class="bar-button ab-text" onclick="window.location.href = '/create'"><img src="static/img/pencil.png" class="bar-button-icon"><span class="bar-text">Post</span></a>
                <a class="bar-button ab-text" onclick="window.location.href = '/settings'"><img src="static/img/settings.png" class="bar-button-icon"><span class="bar-text">Settings</span></a>
            </div>
            <div class="main-content">
                <div class="post-flex-box" id="post-flex-box">

                </div>
                <div class="post-flex-box">
                    <div class="post-container">
                        <p class="user-bar">
                            <img class="user-pfp" src="static/img/placeholder.jpg">
                            <a class="display-name" href="/profile?user={{ handle }}"><img class="user-pfp" style="width: 50px; height: 10px" src="static/img/placeholder.jpg"></a>
                            <span class="handle"></span>
                        </p>
                        <p class="post-text"><img class="user-pfp" style="width: 50px; height: 10px" src="static/img/placeholder.jpg"><br><img class="user-pfp" style="width: 200px; height: 10px" src="static/img/placeholder.jpg"></p>
                        <div class="post-action-bar">
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="post-flex-box">
                    <div class="post-container">
                        <p class="user-bar">
                            <img class="user-pfp" src="static/img/placeholder.jpg">
                            <a class="display-name" href="/profile?user={{ handle }}"><img class="user-pfp" style="width: 50px; height: 10px" src="static/img/placeholder.jpg"></a>
                            <span class="handle"></span>
                        </p>
                        <p class="post-text"><img class="user-pfp" style="width: 50px; height: 10px" src="static/img/placeholder.jpg"><br><img class="user-pfp" style="width: 200px; height: 10px" src="static/img/placeholder.jpg"></p>
                        <div class="post-action-bar">
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="post-flex-box">
                    <div class="post-container">
                        <p class="user-bar">
                            <img class="user-pfp" src="static/img/placeholder.jpg">
                            <a class="display-name" href="/profile?user={{ handle }}"><img class="user-pfp" style="width: 50px; height: 10px" src="static/img/placeholder.jpg"></a>
                            <span class="handle"></span>
                        </p>
                        <p class="post-text"><img class="user-pfp" style="width: 50px; height: 10px" src="static/img/placeholder.jpg"><br><img class="user-pfp" style="width: 200px; height: 10px" src="static/img/placeholder.jpg"></p>
                        <div class="post-action-bar">
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="post-flex-box">
                    <div class="post-container">
                        <p class="user-bar">
                            <img class="user-pfp" src="static/img/placeholder.jpg">
                            <a class="display-name"><img class="user-pfp" style="width: 50px; height: 10px" src="static/img/placeholder.jpg"></a>
                            <span class="handle"></span>
                        </p>
                        <p class="post-text"><img class="user-pfp" style="width: 50px; height: 10px" src="static/img/placeholder.jpg"><br><img class="user-pfp" style="width: 200px; height: 10px" src="static/img/placeholder.jpg"></p>
                        <div class="post-action-bar">
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="post-flex-box">
                    <div class="post-container">
                        <p class="user-bar">
                            <img class="user-pfp" src="static/img/placeholder.jpg">
                            <a class="display-name" href="/profile?user={{ handle }}"><img class="user-pfp" style="width: 50px; height: 10px" src="static/img/placeholder.jpg"></a>
                            <span class="handle"></span>
                        </p>
                        <p class="post-text"><img class="user-pfp" style="width: 50px; height: 10px" src="static/img/placeholder.jpg"><br><img class="user-pfp" style="width: 200px; height: 10px" src="static/img/placeholder.jpg"></p>
                        <div class="post-action-bar">
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                            <span>
                                <img src="static/img/placeholder.jpg" class="like-icon" style="border-radius: 50px;">
                                <a class="ab-text"></a>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="spacer"></div>
            </div>
            <div class="right-bar">
                <span class="bar-button" style="margin: 1em; background: none;"><img src="static/img/search.png" class="bar-button-icon"><input class="ab-text" style="background: none; border: none" id="searchInput" type="text" oninput="loadSearchPosts()" placeholder="Search Caster"></span>
                <br>
                <div class="post-flex-box" id="search-post-flex-box">

                </div>
                <div class="spacer"></div>
            </div>
        </div>
    </div>
</body>
<script src="static/scripts/homeScript.js" defer></script>
<script src="static/scripts/searchScript.js" defer></script>
</html>
